<!--<div class="container">
    <ul>
        <li *ngFor="let drop of ReadKeys(consolitedData);let i = index" style="padding:10px">
            <select (change)="ReadValues($event)" [(ngModel)]="selectedValue[i]" [attr.data-index]="i" class="form-control">
                <option *ngFor="let item of drop; let j = index" [value]="item">{{item}}</option>
            </select>

        </li>
    </ul>
</div>-->
<!--<div class="container">
    <ul *ngFor="let drop of ReadKeys(consolitedData);let i = index" style="padding:10px">
        <input type="checkbox" [value]="drop" />{{drop}}
        <li *ngFor="let item of consolitedData[drop]; let j = index"> {{item}}</li>

    </ul>
</div>-->
<div class="container">
    <div style="width:40%;float:left">
        <div class="acidjs-css3-treeview">
            <ul *ngFor="let drop of ReadKeys(consolitedData);let i = index">
                <li>
                    <input (change)="onselect($event,drop)" type="checkbox"  [checked]="(selectedValue[drop]!=undefined && selectedValue[drop].length== consolitedData[drop].length)" id="item-{{i}}" /><label for="item-{{i}}">{{drop}}</label>
                    <ul *ngIf="drop!='Assets'">
                        <li *ngFor="let item of consolitedData[drop]; let j = index">
                            <input (change)="onselect($event,item,drop)" [checked]="(selectedValue[drop]!=undefined && selectedValue[drop][j]==item)"  tabindex="{{j}}"  type="checkbox" id="item-{{i}}-{{j}}" /><label for="item-{{i}}-{{j}}">{{item}}</label>
                        </li>


                    </ul>
                    <ul *ngIf="drop=='Assets'">
                        <li>

                            <ul *ngFor="let assetslist of consolitedData[drop];let k = index">
                                <li>
                                    <input  (change)="onselect($event,k,drop)" [checked]="(selectedValue[drop][ReadKeys(assetslist)]!=undefined  && selectedValue[drop][ReadKeys(assetslist)].length==consolitedData[drop][ReadKeys(assetslist)].length)" type="checkbox" id="item-{{i}}-{{k}}" /><label for="item-{{i}}-{{k}}">{{ReadKeys(assetslist)}}</label>
                                    <ul *ngFor="let assetitem of consolitedData[drop][k][ReadKeys(assetslist)];let l = index">
                                        <li> <input  (change)="onselect($event,assetitem)" [checked]="selectedValue[drop][k][ReadKeys(assetslist)][l]!=undefined"  type="checkbox" id="item-{{i}}-{{k}}-{{l}}" /><label for="item-{{i}}-{{k}}-{{l}}">{{assetitem}}</label></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>


                    </ul>
                </li>
            </ul>

        </div>
    </div>
    <div style="width:60%;float:right">
        <textarea class="" [value]="seletedText" [(ngModel)]="seletedText"  readonly style="width:80%; height:300px">

        </textarea>
        </div>
    </div>


