<!--<div class="container">
    <ul>
        <li *ngFor="let drop of ReadKeys(consolitedData);let i = index" style="padding:10px">
            <select (change)="ReadValues($event)" [(ngModel)]="selectedValue[i]" [attr.data-index]="i" class="form-control">
                <option *ngFor="let item of drop; let j = index" [value]="item">{{item}}</option>
            </select>

        </li>
    </ul>
</div>-->
<!--<div class="container">
    <ul *ngFor="let drop of ReadKeys(consolitedData);let i = index" style="padding:10px">
        <input type="checkbox" [value]="drop" />{{drop}}
        <li *ngFor="let item of consolitedData[drop]; let j = index"> {{item}}</li>

    </ul>
</div>-->
<div class="container">
    <div style="width:40%;float:left">
        <div class="acidjs-css3-treeview">
            <ul *ngFor="let drop of ReadKeys(consolitedData);let i = index">
                <li>
                    <input (change)="(selectedValue[drop].length==consolitedData[drop].length)?selectedValue[drop]=[]:selectedValue[drop]=deepCopy(consolitedData[drop]);ConvertStringfy()" type="checkbox"  [checked]="(selectedValue[drop].length== consolitedData[drop].length)" id="{{drop}}" /><label for="{{drop}}">{{drop}}</label>
                    <ul *ngIf="drop!='Assets'">
                        <li *ngFor="let item of consolitedData[drop]; let j = index">
                            <input (change)="(selectedValue[drop].indexOf(item)!=-1)? selectedValue[drop].splice(selectedValue[drop].indexOf(item),1):selectedValue[drop].push(item);ConvertStringfy()" [checked]="(selectedValue[drop].indexOf(item)!=-1)"  tabindex="{{j}}"  type="checkbox" id="{{drop}}-{{item}}" /><label for="{{drop}}-{{item}}">{{item}}</label>
                        </li>


                    </ul>
                    <ul *ngIf="drop=='Assets'">
                        <li>

                            <ul *ngFor="let assetslist of consolitedData[drop];let k = index">
                                <li>
                                    <input  (change)="selectedValue[drop][k][ReadKeys(assetslist)]=(selectedValue[drop][k][ReadKeys(assetslist)].length==consolitedData[drop][k][ReadKeys(assetslist)].length)?[]:deepCopy(consolitedData[drop][k][ReadKeys(assetslist)]);ConvertStringfy()" [checked]="(selectedValue[drop][k][ReadKeys(assetslist)].length==consolitedData[drop][k][ReadKeys(assetslist)].length)" type="checkbox" id="{{drop}}-{{k}}-{{ReadKeys(assetslist)}}" /><label for="{{drop}}-{{k}}-{{ReadKeys(assetslist)}}">{{ReadKeys(assetslist)}}</label>
                                    <ul *ngFor="let assetitem of consolitedData[drop][k][ReadKeys(assetslist)];let l = index">
                                        <li> <input  (change)="(selectedValue[drop][k][ReadKeys(assetslist)].indexOf(assetitem)!=-1)? selectedValue[drop][k][ReadKeys(assetslist)].splice(selectedValue[drop][k][ReadKeys(assetslist)].indexOf(assetitem),1):selectedValue[drop][k][ReadKeys(assetslist)].push(assetitem);ConvertStringfy()" [checked]="selectedValue[drop][k][ReadKeys(assetslist)].indexOf(assetitem)!=-1"  type="checkbox" id="{{drop}}-{{k}}-{{ReadKeys(assetslist)}}-{{l}}" /><label for="{{drop}}-{{i}}-{{k}}-{{l}}">{{assetitem}}</label></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>


                    </ul>
                </li>
            </ul>

        </div>
    </div>
    <div style="width:60%;float:right">
        <textarea  [value]="seletedText" [(ngModel)]="seletedText" class="form-controll"  readonly style="width:80%; height:300px">

        </textarea>
        </div>
    </div>


